<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
	th:replace="~{admin/admin-base::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Login</title>
</head>

<section class="content-page ">
	<div class="content ">
		<div class="container-fluid">



			<div class="card mt-4" style="border-radius: 10px;">
				<p class="text-center fs-3">Products</p>
				
					<th:block th:if="${session.succMsg}">
						<p class="text-success fw-bold text-center alert alert-success">[[${session.succMsg}]]</p>
						<th:block th:text="${@commonServiceImpl.removeSessionStorage()}">

						</th:block>
					</th:block>
					<th:block th:if="${session.errorMsg}">
						<p class="text-success fw-bold text-center alert alert-danger">[[${session.errorMsg}]]</p>
						<th:block th:text="${@commonServiceImpl.removeSessionStorage()}">

						</th:block>
					</th:block>
					<div class="row g-5">
						<div class="position-relative mx-auto col-md-10 col-lg-6 col-xl-7">
							<form th:action="@{/admin/products}">
								<input
									class="form-control border-1 border-secondary w-75 py-1 px-4 rounded-pill"
									type="text" placeholder="Search" name="search">
								<button type="submit"
									class="btn btn-primary border-1 border-secondary py-1 px-4 position-absolute rounded-pill text-white h-100"
									style="top: 0; right: 25%;">Submit Now</button>
							</form>
						</div>

						<div class="position-relative mx-auto col-md-10 col-lg-6 col-xl-5">
							<form class="row" th:action="@{/admin/products}" method="GET">
								<div class="col-auto">

									<select class="form-control px-5"
										aria-lebel=".form-select-sm example" name="sortBy">
										<option selected>--select--</option>

										<option value="title" th:selected="${sortBy == 'title'}">Product
											Name</option>
										<option value="category" th:selected="${sortBy == 'category'}">Category</option>

									</select>

								</div>


								<div class="col-auto">
									<button class="btn btn-dark btn-sm px=3" type="submit">Apply</button>
								</div>
							</form>
						</div>
					</div>

					
						<div class="card-body table-responsive p-0">
							<table class="table table-hover table-sm ">
								<thead class="table-light">
									<tr>

										<th scope="col">P/NO.</th>
										<th scope="col">Image</th>
										<th scope="col">Title</th>
										
										<th scope="col">Category</th>
										<th scope="col">Price</th>
										<th scope="col">Discount</th>
										<th scope="col">Discount Price</th>

										<th>Stock</th>



										<th colspan="2">Action</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="prd, p: ${products}">

										<td>[[${p.count}]]</td>
										<td><img th:src="@{'/Images/products/'+${prd.image}}"
											width="100px" height="80px"></td>
										<td>[[${prd.title}]]</td>
										
										<td>[[${prd.category}]]</td>
										<td>[[${prd.price}]]</td>
										<td>[[${prd.discount}]]</td>
										<td>[[${prd.discountPrice}]]</td>
										<td>[[${prd.stock}]]</td>



										<td style="white-space:nowrap"><a
											th:href="@{/admin/editProduct/{id}(id = ${prd.id})}"
											class="btn btn-success btn-sm"> Edit</a>
										<a
											th:href="@{/admin/deleteProduct/{id}(id = ${prd.id})}"
											class="btn btn-danger btn-sm"
											onClick="return confirm('Are you sure?')"> Delete</a></td>

										<!-- <a  th:href="@{/deleteBook/{id}(id = ${book.book_id})}" class='btn btn-danger '>
														Delete</a> -->
									</tr>

								</tbody>
							</table>

<div class="col-sm-12 col-md-2">
									<div class="dataTables_paginate paging_simple_numbers"
										id="example1_paginate">

										<ul class="pagination d-flex justify-content-between">
											<li class="paginate_button page-item "
												th:classappend="${isFirst} ? 'disabled' : ' '"><a
												class="page-link"
												th:href="@{'/admin/products?pageNo='+${pageNo-1}}"
												aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
											</li>



											<li th:each="i:${#numbers.sequence(1,totalPages)}"
												class="paginate_button page-item"><a class="page-link"
												th:classappend="${pageNo+1==i}?'active':' '"
												th:href="@{'/admin/products?pageSize='+${i-1}}">[[${i}]]</a></li>

											<li class="paginate_button page-item"
												th:classappend="${isLast} ? 'disabled' : ' '"><a
												class="page-link"
												th:href="@{'/admin/products?pageNo='+${pageNo+1}}"
												aria-label="Next"><span aria-hidden="true">&laquo;</span></a>
											</li>
										</ul>

									</div>
								</div>
						</div>
				
			</div>


			<!-- /content wrapper -->
		</div>

	</div>
</section>
</body>
</html>