<!DOCTYPE html>
<html lang ="en" xmlns:th="https://www.thymeleaf.org"  th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Home</title>
</head>
<body>
<section class="container-fluid">
 <!-- Hero Start -->
        <div class="container-fluid py-5 mb-5 hero-header" style="background-color:aliceblue">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-md-12 col-lg-7">
                        <h4 class="mb-3 text-secondary">100% Legit Products</h4>
                        <h1 class="mb-5 display-3 text-primary">Welcome. Shop now!</h1>
                       <!--  <div class="position-relative mx-auto">
                            <input class="form-control border-2 border-secondary w-75 py-3 px-4 rounded-pill" type="number" placeholder="Search">
                            <button type="submit" class="btn btn-primary border-2 border-secondary py-3 px-4 position-absolute rounded-pill text-white h-100" style="top: 0; right: 25%;">Submit Now</button>
                        </div> -->
                    </div>
                    <div class="col-md-12 col-lg-5">
                        <div id="carouselId" class="carousel slide position-relative" data-bs-ride="carousel">
                            <div class="carousel-inner" role="listbox">
                             <div class="carousel-item active rounded" >
                                    <img th:src="@{/Images/camera}" class="img-fluid w-100 h-100 bg-secondary rounded" alt="First slide">
                                    <a href="#" class="btn px-4 py-2 text-white rounded"></a>
                                </div>
                                  <div class="carousel-item rounded">
                                    <img th:src="@{/Images/laptop.jpg}" class="img-fluid w-100 h-100  rounded" alt="Second slide">
                                    <a href="#" class="btn px-4 py-2 text-white rounded">Laptops</a>
                                </div>
                                 <div class="carousel-item rounded">
                                    <img th:src="@{/Images/apple.jpg}" class="img-fluid w-100 h-100  rounded" alt="Third slide">
                                    <a href="#" class="btn px-4 py-2 text-white rounded">SmartPhones</a>
                                </div>
                                 <div class="carousel-item rounded">
                                    <img th:src="@{/Images/prod-2.jpg}" class="img-fluid w-100 h-100  rounded" alt="Fourth slide">
                                    <a href="#" class="btn px-4 py-2 text-white rounded">Men Wear</a>
                                </div>
                                 <div class="carousel-item  rounded">
                                    <img th:src="@{/Images/fruits1.png}" class="img-fluid w-100 h-100  rounded" alt="Fifth slide">
                                    <a href="#" class="btn px-4 py-2 text-white rounded">Women Wear</a>
                                </div>
                                 <div class="carousel-item  rounded">
                                    <img th:src="@{/Images/books.jpg}" class="img-fluid w-100 h-100  rounded" alt="Seventh slide">
                                    <a href="#" class="btn px-4 py-2 text-white rounded">Books</a>
                                </div>
                                <div class="carousel-item rounded">
                                    <img th:src="@{/Images/fruits1.png}" class="img-fluid w-100 h-100  rounded" alt="Eighth slide">
                                    <a href="#" class="btn px-4 py-2 text-white rounded">Fruits</a>
                                </div>
                                <div class="carousel-item rounded">
                                    <img th:src="@{/Images/hero-img-2.png}" class="img-fluid w-100 h-100 rounded" alt="Ninth slide">
                                    <a href="#" class="btn px-4 py-2 text-white rounded">Vegitables</a>
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero End -->
        
          <h3 class="mb-2 text-primary text-center">Categories</h3>
         <!-- Featurs Section Start -->
        <div class="container-fluid featurs py-4">
            <div class="container py-5">
                <div class="row g-4">
                    <div class="col-md-6 col-lg-3" th:each="cat: ${categories}">
                        <div class="featurs-item text-center rounded bg-light p-4">
                            <div class="rounded-circle bg-secondary mb-5 mx-auto">
                                <img th:src="@{'/Images/categories/'+${cat.imageName}}" class="img-fluid w-100 rounded-top" alt="">
                            </div>
                            <div class="featurs-content text-center">
                                <h5><a th:href="@{'/products?category='+${cat.name}}">[[${cat.name}]]</a></h5>
                                
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-md-6 col-lg-3">
                        <div class="featurs-item text-center rounded bg-light p-4">
                            <div class="featurs-icon btn-square rounded-circle bg-secondary mb-5 mx-auto">
                                <i class="fas fa-user-shield fa-3x text-white"></i>
                            </div>
                            <div class="featurs-content text-center">
                                <h5>Laptops</h5>
                              
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="featurs-item text-center rounded bg-light p-4">
                            <div class="rounded-circle bg-secondary mb-5 mx-auto">
                            
                                  <img th:src="@{/Images/apple.jpg}" class="img-fluid w-100 rounded-top" alt="">
                            </div>
                            <div class="featurs-content text-center">
                                <h5>Smart Phones</h5>
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="featurs-item text-center rounded bg-light p-4">
                           <div class="rounded-circle bg-secondary mb-5 mx-auto">
                                <img th:src="@{/Images/prod-3.jpg}" class="img-fluid w-100 rounded-top" alt="">
                            </div>
                            <div class="featurs-content text-center">
                                <h5>Men Wear</h5>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="featurs-item text-center rounded bg-light p-4">
                            <div class="featurs-icon btn-square rounded-circle bg-secondary mb-5 mx-auto">
                                <i class="fa fa-phone-alt fa-3x text-white"></i>
                            </div>
                            <div class="featurs-content text-center">
                                <h5>Women Wear</h5>
                                
                            </div>
                        </div>
                    </div>
                     
                     <div class="col-md-6 col-lg-3">
                        <div class="featurs-item text-center rounded bg-light p-4">
                            <div class="featurs-icon btn-square rounded-circle bg-secondary mb-5 mx-auto">
                                <i class="fa fa-phone-alt fa-3x text-white"></i>
                            </div>
                            <div class="featurs-content text-center">
                                <h5>Books</h5>
                                
                            </div>
                        </div>
                    </div>
                     <div class="col-md-6 col-lg-3">
                        <div class="featurs-item text-center rounded bg-light p-4">
                            <div class="rounded-circle bg-secondary mb-5 mx-auto">
                                <img th:src="@{/Images/featur-1.jpg}" class="img-fluid w-100 rounded-top" alt="">
                            </div>
                            <div class="featurs-content text-center">
                                <h5>Fruits</h5>
                                
                            </div>
                        </div>
                    </div> -->
                   <!--  <div class="col-md-6 col-lg-3">
                        <div class="featurs-item text-center rounded bg-light p-4">
                           <div class="rounded-circle bg-secondary mb-5 mx-auto">
                                <img th:src="@{/Images/vegetable-item-2.jpg}" class="img-fluid w-100 rounded-top" alt="">
                            </div>
                            <div class="featurs-content text-center">
                                <h5>Vegetables</h5>
                                
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <!-- Featurs Section End -->
        
   
        <!-- Latest products Start-->
        <div class="container-fluid fruite py-5">
            <div class="container py-5">
                <div class="tab-class text-center">
                    <div class="row g-4">
                        <div class="col-lg-5 text-start">
                            <h1>Our Latest Products</h1>
                        </div>
                        <div class="col-lg-7 text-end">
                            <ul class="nav nav-pills d-inline-flex text-center mb-5">
                                <li class="nav-item">
                                    <a class="d-flex m-2 py-2 bg-light rounded-pill active"  
                                    th:href="@{/}"
									th:classappend="${paramValue == ' '} ? 'active' : ' ' "
                                    
                                    >
                                        <span class="text-dark" style="width: 130px;">All Products</span>
                                    </a>
                                </li>
                                <li class="nav-item" th:each="cat: ${categories}">
                                    <a class="d-flex py-2 m-2 bg-light rounded-pill"  
										th:href="@{'/?category='+${cat.name}}"
									th:classappend="${paramValue == cat.name} ? 'active' : ''"
										
										>
                                        <span class="text-dark" style="width: 130px;">[[${cat.name}]]</span>
                                    </a>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane fade show p-0 active">
                            <div class="row g-4">
                                <div class="col-lg-12">
                                    <div class="row g-4">
                                    <th:block th:if="${productsSize>0}">
                                        <div class="col-md-6 col-lg-4 col-xl-3" th:each="p: ${products}">
                                            <div class="rounded position-relative fruite-item">
                                                <div class="fruite-img">
                                                    <img th:src="@{'/Images/products/'+${p.image}}" class="img-fluid w-100 rounded-top" alt="">
                                                </div>
                                                <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">[[${p.category}]]</div>
                                                <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                                    <h4>[[${p.category}]]</h4>
                                                    
                                                    <div class="d-flex justify-content-between flex-lg-wrap">
                                                        <p class="text-dark fs-5 fw-bold mb-0">[[${p.title}]]</p>
                                                        <th:block th:if="${user == null}">
                                                        <a th:href="@{/signin}" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                                                        </th:block>
                                                         <th:block th:unless="${user == null}">
                                                        <a th:href="@{'/view-product/'+${p.id}}" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                                                        </th:block>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        </th:block>
                                       <th:block th:unless="${productsSize>0}">
																<p class="fs-4 text-center mt-4 text-danger">Product
																	not available</p>
															</th:block>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                        
                        
                    </div>
                </div>      
            </div>
        </div>
        <!-- Fruits Shop End-->
</section>
</body>
</html>